.settings-content-container {
  max-width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.settings-content-container h2 {
  color: var(--bs-primary);
}

.edit-profile {
  margin: 0px 0px 0px 50px;
} 

.edit-profile-select {
  margin: -5px 0 0 -20px;
  width: 180px;
  height: 6px;
  border-radius: 0px 0px 10px 10px;
  background: var(--bs-primary);
}

.edit-profile-photo-container {
  display: grid;
  margin: 50px 0px 20px 0px;
}

.photo-container {
  width: 132px;
  height: 130px;
  border-radius: 50%;
  background: #f5f7fa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edit-profile-photo-selector {
  background: var(--bs-primary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -40px 0 0 90px;
}

.edit-profile-photo-selector img {
  width: 60%;
  height: 60%;
}

.edit-profile-settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.settings-container {
  color: var(--color-black);
  display: flex;
  flex-wrap: wrap;
  gap: 0px 60px; /* Asegura que hay un espacio consistente entre los elementos */
  justify-content: center;
}

.settings-container h3 {
  font-size: 16px;
  font-weight: 400;
}

.input-container {
  width: 100%;
  max-width: 400px; 
  margin-bottom: 20px; /* Añade margen inferior para separar los elementos */
}

.edit-profile-button{
  display: flex;
  margin: 20px 25px 10px 0;
  justify-content: center;
}

@media (max-width: 599px) {
  .edit-profile-settings-container {
    gap: 0px; 
  }
  .edit-profile-photo-container{
    margin: 50px 0 20px 0;
  }
  .edit-profile-button{
    margin: 10px 0px 10px 0;

  }
}

@media (min-width: 1510px) {
  .edit-profile-settings-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
  }
  
  .settings-container {
    justify-content: flex-start;
  }

  .input-container {
    width: calc(50% - 10px); /* Ajusta el ancho al 50% menos el gap */
  }

  .edit-profile-button{
    justify-content: right;
  }

  .edit-profile-photo-container{
    margin-left: 50px;
    margin-bottom:30px;
  }
}

@media (min-width: 800px) {
  .input-container {
    width: calc(50% - 10px); /* Ajusta el ancho al 50% menos el gap */
  }
}
