.login-container {
    margin: 10%;
}



.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-logo{
    margin: 20px 0;
}

.login-container .login-button {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}