#notificaciones-admin {

  .notifications-content-container {
    max-width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .notifications-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .notifications-table th,
  .notifications-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .notifications-table th {
    color: #718EBF;
    font-weight: bold;
  }
  
  .notifications-table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
  }
  
  .notifications-table tbody tr:hover {
    background-color: #e9ecef;
  }
  
  .notificacion-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .message-container{
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .error {
    color: red;
    margin-top: 10px;
    margin-bottom: 25px;
  }
}

